* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    background-color: rgba(17, 17, 17, 0.952);
}

.container-box {
    background: rgba(17, 17, 17, 0.952);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.btn-custom {
    width: 200px;
    background-color: rgba(17, 17, 17, 0.952);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: rgba(243, 144, 32, 0.884);
}

.h2 {
    color: rgba(243, 144, 32, 0.884) !important;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
}

.button {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(37, 37, 37, 0.952);
    color: rgba(243, 144, 32, 0.884);
    padding: 5px;
    transition: all 0.4s;
    font-size: 17px;
}


.button:hover {
    background-color: rgba(243, 144, 32, 0.884);
    color: black;
}

.container {
    width: 50%;
    background-color: rgba(17, 17, 17, 0.952);
    height: 300px;
    border-radius: 5px;
}